.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
    min-width: 350px;
    max-width: 600px;
  }

  h3{
    margin-bottom: 50px;    
 }
 
  .button-main{
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #b103fc;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.start-button{
    padding-top: 25px;
}


